<html>
    <head>
        <title>Elastic blogs</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Some key blogs</a></h1>
        </div>

        <div> 
            {% for post in posts %}
                <div>
                    <p>Published: {{ post.published_date }}</p>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>  
            {% endfor %}
         </div>

        <div>

            
        </div>
    </body>
</html>
